@import url('./variables.scss');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@font-face {
  font-family: "Neue Machina";
  font-weight: 400;
  src: url("../../assets/fonts/NeueMachina-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 700;
  src: url("../../assets/fonts/NeueMachina-Ultrabold.otf") format("opentype");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 300;
  src: url("../../assets/fonts/NeueMachina-Light.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-01);
  font-family: "Neue Machina", sans-serif;
  font-weight: 300;
}

html {
  box-sizing: border-box;
  height: 100%;
  min-width: 375px;
}

body {
  min-width: 375px;
}

#root {
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
}
header, footer {
  z-index: 10;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

ul,
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p, span, input {
  font-size: var(--base-font-size);
}

a {
  text-decoration: none;
}

.step {
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  color: var(--text-03);
}

@media (max-width: 480px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .step {
    font-size: 18px;
    font-weight: 300;
    color: var(--text-02);
  }
}
@media (min-width: 481px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}