.wrapper {

    .articles {
        display: grid;
        gap: 25px;
        margin: 40px 0 172px 0;
    }
}

@media (min-width: 481px) {
    .articles {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media (max-width: 480px) {
    .wrapper {
        .articles {
            grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
            margin-bottom: 100px;
        }
    }
}