.wrapper {
    padding-top: 85px;
    padding-bottom: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    h2 {
        margin-top: 23px;
        margin-bottom: 16px;
        text-align: center;
    }

    p {
        margin-bottom: 37px;
        text-align: center;
    }
}

