.ellipse_01 {
    position: absolute;
    top: 60%;
    left: -17%;
    z-index: 1;

    width: 1012.453px;
    height: 628.427px;
    transform: rotate(42.047deg);
    border-radius: 1012.453px;
    opacity: 0.6;
    background: #FFF;
    filter: blur(145.6761016845703px);
}

.ellipse_02 {
    position: absolute;
    bottom: -25%;
    left: -25%;
    z-index: 1;

    border-radius: 1629.365px;
    opacity: 0.6;
    background: #3244E6;
    filter: blur(145.6761016845703px);
    width: 1629.365px;
    height: 443.144px;
    transform: rotate(68.117deg);
}

.ellipse_03 {
    position: absolute;
    top: 75%;
    left: 36%;
    z-index: 1;

    width: 1629.365px;
    height: 696.165px;
    transform: rotate(68.117deg);
    border-radius: 1629.365px;
    opacity: 0.6;
    background: #3244E6;
    filter: blur(145.6761016845703px);
}

.ellipse_04 {
    position: absolute;
    top: 100%;
    left: 36%;
    z-index: 1;

    width: 1629.365px;
    height: 279.569px;
    transform: rotate(68.117deg);
    border-radius: 1629.365px;
    opacity: 0.6;
    background: #3244E6;
    filter: blur(145.6761016845703px);
}

.ellipse_05 {
    position: absolute;
    top: 100%;
    left: 36%;
    z-index: 1;

    border-radius: 1629.365px;
    opacity: 0.6;
    background: #3244E6;
    filter: blur(145.6761016845703px);
    width: 1629.365px;
    height: 443.144px;
    transform: rotate(68.117deg);
}
.ellipse_06 {
    position: absolute;
    top: 0;
    left: -40%;
    z-index: 1;

    border-radius: 1202.588px;
    opacity: 0.6;
    background: #62A1FF;
    filter: blur(145.6761016845703px);
    width: 1202.588px;
    height: 764.098px;
    transform: rotate(42.047deg);
}
.ellipse_07 {
    position: absolute;
    top: 70%;
    left: 53%;
    z-index: 1;
    width: 1012.453px;
    height: 509.399px;
    transform: rotate(42.047deg);
    border-radius: 1012.453px;
    opacity: 0.6;
    background: #CFCFCF;
    filter: blur(145.6761016845703px);
}
.ellipse_08 {
    position: absolute;
    top: 0;
    left: -40%;
    z-index: 1;

    border-radius: 1202.588px;
    opacity: 0.6;
    background: #62A1FF;
    filter: blur(145.6761016845703px);
    width: 1202.588px;
    height: 764.098px;
    transform: rotate(42.047deg);
}