.input {
	width: 280px;
	height: 72px;
	display: inline-flex;
	padding: 20px;
	align-items: center;
	gap: 168px;
	border-radius: 10px;
	background: var(--background-color-secondary);
	outline: none;
	border: 1px solid transparent;
};