.wrapper {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    overflow: hidden;

    .backgroundBlur {
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.69);
        width: 100%;

        .article_number {
            margin-bottom: 36px;
            color: var(--text-02)
        }

        .title {
            margin-bottom: 22px;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 104%;
            position: relative;
            max-width: max-content;

            svg {
                position: absolute;
                top: 6px;
                right: -46px;
            }
        }

        .content {
            margin-bottom: 45px;
            color: var(--text-02);
            flex: 1;
        }
        button {
            max-width: max-content;
        }

    }
}
@media (min-width: 481px) {
    .backgroundBlur {
        padding: 50px 44px 34px 44px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        .backgroundBlur {
            padding: 21px 21px 33px 21px;
            .article_number {
                margin-bottom: 17px;
            }
            .title {
                font-size: 18px;
                margin-bottom: 17px;
            }
            .content, .article_number {
                font-size: 14px;
            }
        }
    }    
}
