.footer {
    border-top: var(--border-line);
    padding-top: 47px;
    padding-bottom: 56px;
    z-index: 10;       

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 56px;

    * {
        color: rgb(255, 255, 255, 0.5);
    }

    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 74px;           
    }
}

@media (max-width: 767px) {
    .footer {
        padding-bottom: 64px;
        .list {
            flex-direction: column;
            row-gap: 27px;
        }
    }    
}