.metamask_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        line-height: 104%;
        letter-spacing: -1.056px;
        max-width: 870px;
        margin: 58px auto;
    }
}

@media (max-width: 480px) {
    .metamask_section {
        h1 {
            font-size: 32px;
            padding: 0 16px;
        }
    }   
}