.wrapper {
    padding: 20px 0;
    border-bottom: var(--border-line);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 104%;
    letter-spacing: -0.704px;
}


